
<ion-header>
  <ion-navbar>
    <!--
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "TAB_MAP" | translate}}</ion-title>
    -->
  </ion-navbar>
</ion-header>




 <ion-content>

    <ion-item *ngIf="pathway">
        <ion-row>
          <ion-col col-6>
              <button *ngIf="pathway" ion-button    (click)="optimizePathway(1)"><ion-icon name="walk" style="margin-right: 4px"></ion-icon> <span style="font-size: 12px">{{optimizeContent}}</span></button>
          </ion-col>
          <ion-col col-6>
              <button *ngIf="pathway" ion-button   (click)="optimizePathway(2)" style="background-color: #fe7800;  "><ion-icon name="bus" style="margin-right: 4px"></ion-icon><span style="font-size: 12px">{{optimizeContent}}</span></button>
        </ion-col>
        </ion-row>
    </ion-item>


<ion-item *ngIf="pathway">
<button *ngIf="pathway" ion-button secondary clear icon-left (click)="addItems('restaurants')"><ion-icon name="restaurant" item-start class="icon_add_point"></ion-icon> {{ "PAGE_RESTAURANTS" | translate}}</button> 
<button *ngIf="pathway" ion-button secondary clear icon-right (click)="addItems('events')"><ion-icon name="bookmarks" item-start class="icon_add_point"></ion-icon> {{ "PAGE_EVENTS" | translate}}</button>

<button *ngIf="pathway" ion-button secondary clear icon-right (click)="addItems('deals')"><ion-icon name="clock" item-start class="icon_add_point"></ion-icon> {{ "PAGE_DEALS" | translate}}</button>
</ion-item>

    <map-component #myMap ></map-component>
 
 





 </ion-content>