<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "TAB_LIST" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
<button ion-button block *ngIf="this.pathway" (click)="optimizePathway()">Optimize pathway</button>

  <ion-list>

    <!--<button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)"  (press)="onHold($event, item)">-->

    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)" (swipe)="deletePoint(event, item)">
      <!--click + press non funziona con la scroll-->

      <ion-thumbnail item-left >
        
        
          <ng-template [ngIf]="(item.title == 'Cagliari port') &&  (item.thumbnail == '' || item.thumbnail === undefined)"><img src="img/cp_logo.png" style="height:100%"></ng-template>
          <ng-template [ngIf]="(item.title != 'Cagliari port') &&  (item.thumbnail == '' || item.thumbnail === undefined)"><div id="profileImage" class="profileImg" [ngStyle]="{'backgroundColor': item.bgcolor}"> {{ item.title.substr(0, 1) }}</div></ng-template>
          <ng-template [ngIf]="item.thumbnail != '' && item.thumbnail != undefined"><img src="{{ item.thumbnail }}" style="height:100%"></ng-template>



      </ion-thumbnail>

      <h2>{{ item.title }} </h2>
      
      
      <div>
      <ng-template [ngIf]="item.description != undefined && item.description.length >=35"><h4>{{ item.description.substr(0, 35) }}...</h4></ng-template>
      <ng-template [ngIf]="item.description != undefined && item.description.length <35"><h4>{{ item.description }}</h4></ng-template>
      </div>
      
      

      <div  *ngIf="item.rating != undefined && item.rating != ''" [innerHtml]="'<p>' + createRating(item.rating)+ '</p>'">
      
    </div>

    </button>
      
  </ion-list>

<ion-card>
    <ion-item *ngIf="pathway">
      <ion-icon name='stopwatch' item-start style="color: #d03e84"></ion-icon>
      {{"PATHWAYS.YOUR_TIME" | translate}} 
      <ion-badge item-right>{{pathway.duration}}</ion-badge>
    </ion-item>

    <ion-item *ngIf="pathway">
      <ion-icon name='walk' item-start style="color: #55acee"></ion-icon>
      {{"PATHWAYS.YOUR_TRAIN" | translate}} 
      <ion-badge item-right color="secondary">{{difficolta_str}}</ion-badge>
    </ion-item>
    <ion-item *ngIf="timeToVisit_str_pw">
      <ion-icon name='stopwatch' item-start style="color: #d03e84"></ion-icon>
      {{"PATHWAYS.TIME_PATHWAY" | translate}} 
      <ion-badge item-right>{{timeToVisit_str_pw}}</ion-badge>
    </ion-item>

    <ion-item *ngIf="difficolta_str_pw">
      <ion-icon name='walk' item-start style="color: #55acee"></ion-icon>
      {{"PATHWAYS.DIFF_PATHWAY" | translate}}
      <ion-badge item-right color="secondary">{{difficolta_str_pw}}</ion-badge>
    </ion-item>
</ion-card>




</ion-content>
<style>

  .profileImg {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    margin: 20px 0;
  }

</style>
