.profileImg {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  margin: 20px 0;
}

ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}