<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!addingNew">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{ "MENU_PATHWAYS" | translate}} </ion-title>
  
    <ion-buttons start>
      <button ion-button (click)="dismiss()" *ngIf="adding" strong>X</button>
      
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list padding *ngIf="items.length=== 0">
    <p>{{ "PATHWAYS.NO_SAVED" | translate }}</p>
  </ion-list>
  <ion-list *ngIf="items.length> 0">

    <ion-item *ngFor="let item of items">
      <span (click)="handleItem(event, item)" (swipe)="removePathway(event, item)">
        <h1 style="margin-bottom: 10px">{{item.title}}</h1>
       <p>
         
          <ion-icon range-left  color="danger" name="pin" style="margin-right: 4px"></ion-icon><span style="margin-right: 10px">{{item.points.length}}</span>  
          <ion-icon range-left  name="stopwatch" style="margin-right: 4px"></ion-icon><ion-badge color="secondary" style="margin-right: 10px">{{item.duration}}</ion-badge> 
          <ion-icon range-left  name="walk" style="margin-right: 4px"></ion-icon><ion-badge style="margin-right: 10px">{{createDifficulty(item.difficolta)}}</ion-badge></p>
      </span>
      <ion-icon *ngIf="!adding" name="close-circle" (click)="removePathway(event, item)"  clear item-right></ion-icon>
    </ion-item>

  </ion-list>


  <ion-fab bottom right *ngIf="!adding">
    <button ion-fab (click)="openForm()"><ion-icon name="add" ></ion-icon></button>
  </ion-fab>

</ion-content>
