<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!addingNew">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Percorsi </ion-title>
  
    <ion-buttons start>
      <button ion-button (click)="dismiss()" *ngIf="adding" strong>X</button>
      
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list padding *ngIf="items.length=== 0">
    <p>Non esistono percorsi salvati!</p>
  </ion-list>
  <ion-list *ngIf="items.length> 0">

    <ion-item *ngFor="let item of items">
      <span (click)="handleItem(event, item)">
        <h1>{{item.title}} </h1>
      </span>
      <ion-icon *ngIf="!adding" ios="ios-close" md="md-close" (click)="removePathway(event, item)"  clear item-right></ion-icon>
    </ion-item>

  </ion-list>

  <ion-fab bottom right >
    <button ion-fab (click)="addItem()"><ion-icon name="add" ></ion-icon></button>
  </ion-fab>

</ion-content>
